html{
    height:100%;
}
body{
    margin:0;
    padding:0;
    background:#e1e1e1;
    font:normal 12px "Lucida Sans Unicode", "Lucida Grande", Geneva,Verdana,Arial,sans-serif;
    height:100%;
}
fieldset{
	margin:0;
}
ul.layout{
    list-style:none;
}
a{
    outline:none;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
p{
    margin:0;
    padding:0 0 10px;
}
#page{
    margin:0 auto;
    width:100%;
}
#header{
    background:#fff;
    height:115px;
}
#headerin{
	width:987px;
	margin:0 auto;
}
#header .logo{
    float:left;
	margin-top:30px;
    text-decoration:none;
}
#header .logo img{
    border:none;
}
#header .right-controls{
    float:right;
	margin-top:37px;
	background:url('#{facesContext.externalContext.requestContextPath}/images/lnk-bg.jpg') right top no-repeat;
}
#header ul.top-links{
    margin:5px 15px 0 0;
    text-align:right;
}
#header ul.top-links li{
    display:inline;
    font-size:11px;
}
#header ul.top-links li a{
    background:url('#{facesContext.externalContext.requestContextPath}/images/sep.gif') center right no-repeat;
    color:#fff;
    padding:0 8px 0 3px;
    font:11px "Lucida Sans Unicode", "Lucida Grande", Geneva,Verdana,Arial,sans-serif;
}
#header ul.top-links li.last a{
    background:none;
    padding:0 0 0 3px;
}
#header ul.top-links li.download-link a{
    color:#eccb7b;
}
#header ul#skin-menu{
    color:#89a0be;
    cursor:default;
    font-weight:bold;
    margin:45px 15px 0 0;
    text-align:right;
}
#header ul#skin-menu li{
    cursor:pointer;
    display:inline-block;
    float:right;
    height:35px;
    margin-left:45px;
    padding-left:0px;
}
#header ul#skin-menu li a{
	color:#89A0BE;
}

#header ul#skin-menu li span{
    height:25px;
    font:bold 12px "Lucida Sans Unicode", "Lucida Grande", Geneva,Verdana,Arial,sans-serif;
    padding:3px 5px 0 0;
    display:inline-block;
}

#header ul#skin-menu li span:hover{
    text-decoration:underline;
}
#header ul#skin-menu li.label span{
    color:#999999;
    cursor:default;
    font-weight:normal;
}

#header ul#skin-menu li.current-skin{
	background:none;
}
#header ul#skin-menu li.current-skin span{
    background:url(../images/lnk-bg2.jpg) 50% 100% no-repeat;
    color:#F00;
	height:30px;
}
#header ul#skin-menu li.label span:hover,
#header ul#skin-menu li.current-skin span:hover{
    text-decoration:none;
}
#page-content{
    background:transparent;
    height:100%;
    min-height:520px;
    padding:10px 0px 0px 0px;
	width:987px;
	margin:0 auto;
}
#page-content .left-menu{
    float:left;
    margin-right:10px;
    min-height:450px;
    width:235px;
}
#page-content .content-container {
	float:right;
	width:700px; 
}
#page-content .content-container fieldset.example-cnt{
	background:#ffffff;
	border:1px solid #dddddd;
	border-top:0;
	margin:0;
	min-height:470px;
	padding:15px 20px 10px; 
}

/*  ------ left sidebar -------- */
.rf-p {
	padding:10px;
	background:#fff;
	border:#d7d7d7 solid 1px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 1px 1px 1px #b7b7b7;
	-webkit-box-shadow: 1px 1px 1px #b7b7b7;
	box-shadow: 1px 1px 1px #b7b7b7;
}
.clear{
    clear:both;
    height:0%;
}

#footer{
    background:#054568;
    padding:10px 0px 0px 0px;
	margin:0px;
}
#footerin{
	color:#fff;
	width:987px;
	margin:0 auto;
    height:50%;
    min-height:100px;
}

.source, div.rf-log {
	width: 650px;
}

a.show, a.hide{
	font:bold 12px "Lucida Sans Unicode", "Lucida Grande", Geneva,Verdana,Arial,sans-serif;
	color:#5F9CD0;
	display:block;
}

/*--- RichFaces panelMenu styles overwriting ---*/

.body-content .rf-pm{
	border:1px solid #B0BDC5;
	border-bottom:0;	
}
.left-menu .rf-pm .rf-pm-top-gr{
	border:0;
	border-bottom:1px solid #969b9e;
	margin:0;	
	padding:0;
}
.left-menu .rf-pm .rf-pm-top-gr-hdr{
	background:#054568;
	width:100%;
	color:#FFF;
	padding:3px 1px 2px 3px;
	font-style:normal;
	text-transform:capitalize;
}
.left-menu .rf-pm .rf-pm-top-gr-hdr:hover{
	background: #054568;
	color:#FFF;	
}
.left-menu .rf-pm .rf-pm-top-gr-ico{
	display:none;
}
.left-menu .rf-pm .rf-pm-top-gr-lbl{
	color:#fff;
	margin-left:4px;	
}
.left-menu .rf-pm .rf-pm-top-gr-lbl:hover{
	color:#fff;
	text-decoration:underline;	
}
.left-menu .rf-pm-exp{
	background:#ffffff;	
}
.left-menu .rf-pm-exp .rf-pm-itm{
	border:0;
	border-bottom:1px solid #dddddd;	
}
.left-menu .rf-pm-exp .rf-pm-itm:hover{
	background:none;	
}
.left-menu .rf-pm-exp .rf-pm-itm-lbl:hover{
	color:#5f9cd0;
}
.left-menu .rf-pm-exp .rf-pm-itm-sel,
.left-menu .rf-pm-exp .rf-pm-itm-sel:hover{
	/*background:#e3e8ef;*/
}
.left-menu .rf-pm-exp .rf-pm-itm-lbl{
	color:#305f7b;
	font:normal 11px "Lucida Sans Unicode", "Lucida Grande", Geneva,Verdana,Arial,sans-serif;	
}	
.left-menu .rf-pm-exp .rf-pm-itm-sel .rf-pm-itm-lbl{
	color:#5f9cd0;
	font-weight:bold;	
}
.left-menu .rf-pm-exp .rf-pm-itm-ico{
	padding:0 !important;
	width:5px;	
}
/****************************************************

login form

*****************************************************/
#mainlogin{
	margin-top:0px; 
	width: 390px;
	padding:10px;
	background:#fff;
	border:#d7d7d7 solid 1px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 1px 1px 1px #b7b7b7;
	-webkit-box-shadow: 1px 1px 1px #b7b7b7;
	box-shadow: 1px 1px 1px #b7b7b7;
}

#mainlogin table{
	width: 100%;
}
#mainlogin table td{
	width: 80%;
	float:left;
}
#mainlogin input{
	width: 360px; 
	float:left;
	padding:5px 10px;
	background:#FFF url(../images/box-bg.jpg) left top repeat-x;
	border:#054568 solid 1px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size:14px;
}
#mainlogin .button{
	float:right;
	margin-right:-135px;
	width:55px;
	border:#d7d7d7 solid 1px;
	padding:5px 10px;
	color:#054568;
	margin-left: 230px;
	background:url(../images/ex-bg.jpg) left top repeat-x;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 1px 1px 1px #b7b7b7;
	-webkit-box-shadow: 1px 1px 1px #b7b7b7;
	box-shadow: 1px 1px 1px #b7b7b7;
	cursor:pointer;
}


/****************************************************

remind form

*****************************************************/
#remind{
	margin-top:0px; 
	width: 300px;
	padding:10px;
	background:#fff;
	border:#d7d7d7 solid 1px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 1px 1px 1px #b7b7b7;
	-webkit-box-shadow: 1px 1px 1px #b7b7b7;
	box-shadow: 1px 1px 1px #b7b7b7;
}

#remind table{
	width: 100%;
}
#remind table td{
	width: 80%;
	float:center;
}
#remind input{
	width: 360px; 
	float:left;
	padding:5px 10px;
	background:#FFF url(../images/box-bg.jpg) left top repeat-x;
	border:#054568 solid 1px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size:14px;
}

#remind .button{
	float:right;
	margin-right:-135px;
	width:55px;
	border:#d7d7d7 solid 1px;
	padding:5px 10px;
	color:#054568;
	margin-left: 230px;
	background:url(../images/ex-bg.jpg) left top repeat-x;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 1px 1px 1px #b7b7b7;
	-webkit-box-shadow: 1px 1px 1px #b7b7b7;
	box-shadow: 1px 1px 1px #b7b7b7;
	cursor:pointer;
}


#remind .button:hover{
	background:url(../images/ex-bg2.jpg) left top repeat-x;
}

.content-container .rf-p .rf-p-b table{
	width: 390px; 
}
.content-container .rf-p .rf-p-b table td tr input{
	width:50px;; 
}
#Reclogin table .button{
	-moz-border-radius: 5px;
	border-radius: 5px;
	float:right;
	width:55px;
}

#page-content .rf-p-b p{
	padding:5px 10px;
	margin-bottom:10px;
	font-size:14px;
	color:#FFF;
	background:#054568;
}
#page-content .rf-tb{
	width:500px;
	font-size:13px;
	margin-bottom:5px;
	background:none;
}
#page-content .rf-edt-hdr, .rf-edt-tbl-hdr {
    background:#054568;
	padding:0px;
	text-align:left;
	color:#FFF;
}
#page-content .rf-edt-hdr-c-cnt, .rf-edt-tbl-hdr, .rf-edt-ftr-c-cnt, .rf-edt-tbl-ftr {
    font-weight: bold;
	font-size:12px;
}
#page-content .rf-edt-tbl-hdr {
    border-bottom: none;
}

#page-content .rf-edt-hdr-c-cnt, .rf-edt-tbl-hdr {
    color: #fff;
	text-align:left;
	padding:5px 10px;
}
#page-content .rf-edt-c-cnt, .rf-edt-hdr-c-cnt, .rf-edt-ftr-c-cnt, .rf-edt-tbl-hdr, .rf-edt-tbl-ftr {
    font-family: Arial,Verdana,sans-serif;
    font-size: 12px;
    padding: 3px 7px;
	cursor:pointer;
}

#page-content .rf-edt-c-cnt:hover {
    color: #464646;
	background:#fbf9d6;
}


#page-content .rf-p {
	width:100%;
}

#page-content .rf-p-b table input{
	border:#054568 solid 1px;
	background:#FFF url(../images/box-bg.jpg) left top repeat-x;
	padding:5px 10px;
	width:300px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#page-content .rf-p-b table .largeBtn{
	border:#d7d7d7 solid 1px;
	padding:5px 10px;
	width:70px;
	color:#054568;
	background:url(../images/ex-bg.jpg) left top repeat-x;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 1px 1px 1px #b7b7b7;
	-webkit-box-shadow: 1px 1px 1px #b7b7b7;
	box-shadow: 1px 1px 1px #b7b7b7;
	margin-right:5px;
}
#page-content .rf-p-b table .largeBtn2{
	border:#d7d7d7 solid 1px;
	padding:5px 10px;
	width:70px;
	color:#054568;
	margin-left: 230px;
	background:url(../images/ex-bg.jpg) left top repeat-x;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 1px 1px 1px #b7b7b7;
	-webkit-box-shadow: 1px 1px 1px #b7b7b7;
	box-shadow: 1px 1px 1px #b7b7b7;
}
#page-content .rf-p-b table .largeBtn2:hover{
	background:url(../images/ex-bg2.jpg) left top repeat-x;
}
#page-content .rf-p-b table .largeBtn:hover{
	background:url(../images/ex-bg2.jpg) left top repeat-x;
}

#page-content .rf-p-b table .largeBtn3{
	border:#d7d7d7 solid 1px;
	padding:5px 10px;
	width:130px;
	color:#054568;
	background:url(../images/ex-bg.jpg) left top repeat-x;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 1px 1px 1px #b7b7b7;
	-webkit-box-shadow: 1px 1px 1px #b7b7b7;
	box-shadow: 1px 1px 1px #b7b7b7;
	margin-bottom:5px
}
#page-content .rf-p-b table .largeBtn3:hover{
	background:url(../images/ex-bg2.jpg) left top repeat-x;
}
#page-content .rf-p-b table tr td .largeBtn4{
	border:#d7d7d7 solid 1px;
	margin-right:-243px;
	padding:5px 10px;
	width:70px;
	color:#054568;
	background:url(../images/ex-bg.jpg) left top repeat-x;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 1px 1px 1px #b7b7b7;
	-webkit-box-shadow: 1px 1px 1px #b7b7b7;
	box-shadow: 1px 1px 1px #b7b7b7;
}
#page-content .rf-p-b table .largeBtn4:hover{
	background:url(../images/ex-bg2.jpg) left top repeat-x;
}
#page-content .rf-p-b table tr td .Checkbox{
	float:left;
	width:15px;
	margin-left:37px;
}

#page-content #j_idt28 .rf-tb {
	border:none;
	background:none;
}
#page-content #j_idt28 .rf-tb .toolbarbutton{
	border:#d7d7d7 solid 1px;
	padding:5px 10px;
	width:70px;
	color:#054568;
	background:url(../images/ex-bg.jpg) left top repeat-x;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 1px 1px 1px #b7b7b7;
	-webkit-box-shadow: 1px 1px 1px #b7b7b7;
	box-shadow: 1px 1px 1px #b7b7b7;
}
#page-content #j_idt28 .rf-tb .toolbarbutton:hover{
	background:url(../images/ex-bg2.jpg) left top repeat-x;
}
#page-content #j_idt28 .rf-tb .rf-tb-sep-grid{
	display:none;
}
#page-content #j_idt28 .rf-tb .rf-tb-sep-line{
	display:none;
}


.body-content{
	padding:10px;
	background:#fff;
	border:#d7d7d7 solid 1px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 1px 1px 1px #b7b7b7;
	-webkit-box-shadow: 1px 1px 1px #b7b7b7;
	box-shadow: 1px 1px 1px #b7b7b7;
}
.body-content table tbody .rf-tb-cntr{
	background:#FFF;
	border:none;
}
.body-content .rf-tb-cntr{
	border:none;
}


.body-content .rf-tb{
	border:none;
	margin:0;	
	padding:0;		
}
.body-content .rf-tb .rf-tb-cntr{
	padding:3px 1px 2px 3px;
	color:#273945;
	margin-left:4px;
}

.body-content .rf-tb .rf-tb-itm{
	border:0;
}

.body-content .rf-tb .rf-tb-itm:hover{
	color:#5f9cd0;
}

.body-content .toolbarbutton{
	background:url(../images/lnk-bg3.jpg) top center repeat-x;
	padding:5px 10px;
	color:#054568;
	margin:0px 0px 10px -7px;
	border:#d7d7d7 solid 1px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 1px 1px 1px #b7b7b7;
	-webkit-box-shadow: 1px 1px 1px #b7b7b7;
	box-shadow: 1px 1px 1px #b7b7b7;
}
.body-content .toolbarbutton:hover{
	background:url(../images/lnk-bg4.jpg) top center repeat-x;
}

.rf-edt{
	margin:0;	
	padding:0;		
	color:#273945;
	
}
.rf-edt{
	border:none;
}

#consultList table{
	border:none;
}


/*--- RichFaces tablePanel styles overwriting ---*/
.navigation .rf-tab-hdr-tabline-vis{
	background:#ebf6fd;
	border:0;	
	height:31px;
	padding:0;
}
.navigation .rf-tab-hdr{
	border:1px solid #dddddd;
	padding:6px 10px 0;
	margin-right: 3px;	
}
.navigation .rf-tab-hdr-act{
	background:#ffffff;	
	border-bottom:0;
	color:#5F9CD0;
}
.navigation .rf-tab-hdr-act .rf-tab-lbl{
	font-weight:bold;
}
.navigation .rf-tab-hdr-inact{
	background:#c6cacc url(../images/pmenu_bg.png) left top repeat-x;
	border:1px solid #bec3c7;	
}
.navigation .rf-tab-hdr-spcr{
	border-bottom:1px solid #dddddd;
	padding:0 3px 0 0;
}
.navigation .rf-tab-lbl{
	font:normal 12px "Lucida Sans Unicode", "Lucida Grande", Geneva,Verdana,Arial,sans-serif;
}

textarea[disabled], input[type="text"][disabled], input[type="password"][disabled], select[disabled] {
    -webkit-text-fill-color: #B6AD84;
}
.btmConslt{
	float:left;
	clear:both;
	margin-top:10px;
	border-top:#CCC dashed 1px;
	font-size:12px;
}
.btmConslt table tr{
	float:left;
	width:675px;
	overflow:hidden;
	margin:0px; padding:0px;
}
.btmConslt table td span{
	width:110px;
	float:left;
	font-size:12px;
}
.btmConslt table .longText{
	border:#054568 solid 1px;
	background:#FFF url(../images/box-bg.jpg) left top repeat-x;
	padding:5px 10px;
	width:523px;
	margin:0px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size:14px;
	color:#333;
	overflow:visible;
}
.largeLabels2 largeLabels2{ font-size:14px}

.headerCons{
	margin-bottom:10px;
	border-bottom:#CCC dashed 1px;
	padding-bottom:10px;
    color:#252525;
	font-family:"Lucida Sans Unicode", "Lucida Grande", Geneva,Verdana,Arial,sans-serif;
}


/**************************************************************
   Tables
 **************************************************************/

table {
  text-align:left ;
}
table header{ background:#333}