body {
  margin: 0;
  padding: 0;  
 /* background: #a6a8b9;*/
 background: #66a;
 
  background-image:  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAANklEQVQYlb3OsQkAMAwDwY8n0aaZ1KBR3IU0UZlSHIhf3b0BbAMgiXtXQklUwvPwQttUwk8NA6gjMsZycnW4AAAAAElFTkSuQmCC);
  word-wrap: break-word;
  overflow: hidden;
  font: normal 15px "Apres", "Trebuchet MS";

  text-align:left;
}

#header {
	position: absolute;
	height: 10%;
	width:100%	
}
#container {
	/*display: inline;*/
	position: absolute;
	/*border: 1px dotted #999;*/
	top: 8%;	
	width:100%;
	height:75%;	
}


#leftpanel {
	display: block;
	position: absolute;	
	/*border: 1px dotted #111;*/	
	width: 20%;
	height: 100%;
}

#centerpanel {
	display: block;
	position: absolute;
	/*border: 1px dotted #FFF;*/
	left: 0%;
	width: 100%;
	top: 10%;
	height: 100%;
	overflow: auto;
	/*margin-bottom: 20%;*/
}


#rightpanel {
	display: block;
	position: absolute;
	/*border: 1px dotted #FFF;*/
	left: 20%;
	width: 80%;	
	height: 100%;
	overflow: auto;
	/*margin-bottom: 20%;*/
}


#sessionpanel {
	/*display: block;*/	
	/*border: 1px dotted #111;*/
	position: absolute;
	left: 50%;	
	margin: 0 ;	
	height: 60px;	
}

#contentpanel {
	/*display: block;*/	
	/*border: 1px dotted #111;*/	
	margin: 0 ;
	/*overflow: scroll;*/
	width: 100%;
	height: 100%;
}


#footerpanel {
	/*display: block;*/
	position: absolute;	
	/*border: 5px dotted #f00;*/	
	bottom: 0;
	width: 100%;
	top: 90%;
}


#mocaption {
	/** display: block;*/
	margin-left:30%;
	 margin-right:30%;
	/* background: rgb(90, 90, 90);
	 background: rgba(0, 0, 0, .5);*/
	 background: #a6a8b9;
	 font-size:2.5em; 
	 /**height:60px; */
	 text-align:left;
	 -webkit-border-radius: 5px;
	 -moz-border-radius: 5px;
}

.widgety {
  color: rgba(255, 255, 255, 0.9);
  background-color: #7e82a1;
  font-weight: normal;
  cursor: pointer;
  outline: none;
  outline-color: transparent;
  padding: 10px 0;
}
.shiny {
  color: rgba(255, 255, 255, 0.9);
  background-color: #7e82a1;
  font-weight: normal;
  cursor: pointer;
  outline: none;
  outline-color: transparent;
  padding: 10px 0;
  /*border: 1px solid rgba(255, 0, 0, 0.8);*/
  border: 1px solid rgba(255, 0, 0, 0.8);
  background-image: url(shiny-split.png);
  background-repeat: repeat-x;
  background-position: top left;
  background-size: 100% 100%;  
}
.row {}